<html>
	<head>
		<title>
			Digital Asset Price Index
		</title>
		<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
		<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
		<link rel="stylesheet" type="text/css" href="style.css">
	</head>
	<body>		
		<h1 style="margin:30px;">Digital Asset Price Index</h1>
		<div class="card" id="absolute">
			<h1 class="title">
				<img src="https://explorer.absolutecoin.net/images/logo.png">
				Absolue (ABS)
			</h1>
			<div class="ticker">
				{{ info.last }}
			</div>
			<div class="left"><small>Buy</small> {{ info.buy | satoshi }} BTC</div>
			<div class="right"><small>Sell</small> {{ info.sell | satoshi }} BTC</div>
			<div class="left"><small>Vol ABS</small> {{ info.vol | satoshi }} BTC</div>
			<div class="right"><small>Vol BTC</small> {{ info.volbtc | satoshi }} BTC</div>
			<div class="clear"></div>
			<div class="asset">Your asset : <input type="text" value="1000" v-model="asset"> ABS</div>
			<div class="left"><small>BTC </small> <strong>{{ asset*info.last | currency }} BTC</strong></div>
			<div class="right"><small>USD </small> <strong>{{ asset*info.last*price.USD.rate_float | currency }} USD</strong></div>
		</div>
		<div class="card" id="dextro">
			<h1 class="title">
				<img src="http://explorer.dextro.io/images/logo_dextro.png">
				Dextro (DXO)
			</h1>
			<div class="ticker">
				{{ info.last }}
			</div>
			<div class="left"><small>Buy</small> {{ info.buy | satoshi }} BTC</div>
			<div class="right"><small>Sell</small> {{ info.sell | satoshi }} BTC</div>
			<div class="left"><small>Vol ABS</small> {{ info.vol | satoshi }} BTC</div>
			<div class="right"><small>Vol BTC</small> {{ info.volbtc | satoshi }} BTC</div>
			<div class="clear"></div>
			<div class="asset">Your asset : <input type="text" value="1000" v-model="asset"> DXO</div>
			<div class="left"><small>BTC </small> <strong>{{ asset*info.last | currency }} BTC</strong></div>
			<div class="right"><small>USD </small> <strong>{{ asset*info.last*price.USD.rate_float | currency }} USD</strong></div>
		</div>
		<div class="card" id="z01">
			<h1 class="title">
				<img src="https://masternodes.online/coin_image/ZOC.png">
				01 (ZOC)
			</h1>
			<div class="ticker">
				{{ info.last }}
			</div>
			<div class="left"><small>Buy</small> {{ info.buy | satoshi }} BTC</div>
			<div class="right"><small>Sell</small> {{ info.sell | satoshi }} BTC</div>
			<div class="left"><small>Vol ABS</small> {{ info.vol | satoshi }} BTC</div>
			<div class="right"><small>Vol BTC</small> {{ info.volbtc | satoshi }} BTC</div>
			<div class="clear"></div>
			<div class="asset">Your asset : <input type="text" value="1000" v-model="asset"> ZOC</div>
			<div class="left"><small>BTC </small> <strong>{{ asset*info.last | currency }} BTC</strong></div>
			<div class="right"><small>USD </small> <strong>{{ asset*info.last*price.USD.rate_float | currency }} USD</strong></div>
		</div>
		<div class="card" id="ipsum">
			<h1 class="title">
				<img src="https://pbs.twimg.com/profile_images/986212308065116161/azeMEpD9_400x400.jpg">
				Ipsum (IPS)
			</h1>
			<div class="ticker">
				{{ info.last }}
			</div>
			<div class="left"><small>Buy</small> {{ info.buy | satoshi }} BTC</div>
			<div class="right"><small>Sell</small> {{ info.sell | satoshi }} BTC</div>
			<div class="left"><small>Vol ABS</small> {{ info.vol | satoshi }} BTC</div>
			<div class="right"><small>Vol BTC</small> {{ info.volbtc | satoshi }} BTC</div>
			<div class="clear"></div>
			<div class="asset">Your asset : <input type="text" value="1000" v-model="asset"> IPS</div>
			<div class="left"><small>BTC </small> <strong>{{ asset*info.last | currency }} BTC</strong></div>
			<div class="right"><small>USD </small> <strong>{{ asset*info.last*price.USD.rate_float | currency }} USD</strong></div>
		</div>
		<script src="script.js"></script>
	</body>
</html>