			html,body{
				margin:0 auto;
				padding:0;
				position:relative;
				text-align:center;
			}
			h1{
				margin:0;
			}
			.card {
				padding:10px;
				width:300px;
				border:1px solid #eee;
				margin:10px;
				-moz-box-shadow:    1px 1px 2px 2px #eee;
				-webkit-box-shadow: 1px 1px 2px 2px #eee;
				box-shadow:         1px 1px 2px 2px #eee;
				display:inline-block
			}
			.card .title{
				font-size:1.5em;
				text-align:left;
			}
			.card .title img{
				float:left;
				margin:0px 5px;
				width:40px;
			}
			.card .ticker{
				text-align:center;
				font-size:2em;
				margin:10px;
				font-weight:bold;
			}
			.card .left{
				float:left;
				width:50%;
				font-size:0.7em;
				text-align:left;
			}
			.card .right{
				float:right;
				text-align:right;
				width:50%;
				font-size:0.7em;
			}
			.card .asset{
				text-align:center;
				clear:both;
				font-size:0.8em;
				margin:10px 0 0 0;
				font-weight:bold;
				border-top:1px solid #eee;
				border-bottom:1px solid #eee;
			}
			.card input{
				width:50px;
				padding:1px;
				text-align:center;
			}
			.clear{
				clear:both;
			}